@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');
*
{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	transition: 1s;
	font-family: 'Roboto', sans-serif;
	
}
a
{
    text-decoration: none;
}
.textarea:focus{
	outline: none;
	outline-color: orange;
}
.header{
	position: relative;
	background: orange;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 10px 100px 10px 80px;
	border-bottom: 1px solid rgba(0, 0, 0, .3);
}
.scroll{
	position: fixed;
}

.brand h1 a{
 font-size: 50px;
 font-family: serif;
 font-weight: bold;
 color: black;
 text-shadow: 3px 3px 10px black;
 text-decoration: none;
}
.brand h1 a span{
	color: white;
	padding-left: 10px;
}
.header .items .items-menu{
	display: flex;
	flex-direction: row;
	list-style: none;
}
.header .items .items-menu li{
	margin-left: 15px;
	position: relative;
}
.header .items .items-menu li.user{
	display: flex;
}
.header .items .items-menu li .badge{
	position: absolute;
	top: 40px;
	left: 13px;
	width: 17px;
	height: 18px;
	padding: 2px;
	border-radius: 50%;
	font-size: 13px;
	font-weight: bold;
	background-color: red;
}
.header .items .items-menu li .icone{
	width: 30px;
	height: 30px;
	margin-right: 10px;
}

.header .items .items-menu li a{
	color: rgba(0, 0, 0, .8);
	font-weight: bold;
	text-decoration: none;
	transition: .5s;
}
.header .items .items-menu li a i{
	color: rgba(0, 0, 0, .8);
	font-weight: bold;
	font-size: 25px;
	transition: .5s;
	position: relative;
}

.header .items .items-menu li a i span{
	position: absolute;
	top: 12px;
	right: 12px;
	background: red;
	border-radius: 50%;
	font-size: 10px;
}
.header .items .items-menu li a i:hover{
	
}
.items .items-menu li a span{
	color: white;
	margin-right: 3px;
}
.search{
	position: relative;
}
.search form{
	display: flex;
}
.search form input{
	border-top-left-radius: 5px;
	border-top-right-radius: 0;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	width: 500px;
	padding: 5px 15px;
	margin-left: 25px;
	outline: none;
}
.search form button{
	border-radius: 0;
	text-transform: uppercase;
}
.search .searchItems{
	position: absolute;
	margin: 0;
	padding: 0;
	top: 40px;
	left: 25px;
	right: 0;
	list-style: none;
	background: #fff;
	z-index: 10;	
}
.search .searchItems .item{
	margin: 10px;
}
.search .searchItems .item a{
	text-decoration: none;
	color: rgba(0, 0, 0, .8);
	font-size: 17px;
}
.header .btn-toggle{
	position: absolute;
	right: 80px;
	top: 38px;
	display: none;
}
.header .btn-toggle i{
	font-size: 28px;
}
.header-nav{
	background: orange;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 0px 100px 0px 70px;
}
.header-nav .items{
	
}
.header-nav .items .items-menu{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	list-style: none;
	padding-top: 15px;
}
.header-nav .items .items-menu li,.header .items .items-menu li.user{
	position: relative;
	height: 100%;
	margin-left: 0;
}
.header .items .items-menu li.user{
	margin-right: 15px;
}
.header .items .items-menu li.user a{
	color: white;
	font-weight: 500;
}
.header-nav .items .items-menu li .categorie{
	transition: 1s;
	text-transform: capitalize;
	font-weight: bold;
	color: black;
}

.header-nav .items .items-menu li a{
	color: rgba(0, 0, 0, .7);
	text-decoration: none;
	padding: 6px 15px;
	text-transform: capitalize;
	transition: 1s;
}
.header-nav .items .items-menu li .nav-item,.header .items .items-menu li.user .nav-item{
	border-right: 2px solid black;
}

.header-nav .items .items-menu .menu {
	position: absolute;
	top: 35px;
	width: 300px;
}
.header .items .items-menu .menu {
	position: absolute;
	top: 60px;
	width: 200px;
}
.header .items .items-menu .menu li button {
	background: orange;
	color: white;
}
.header .items .items-menu .menu li .divider {
	background: orange;
	height: 2px;
}
.header-nav .items .items-menu .menu,.header .items .items-menu .menu {
	background: black;
	padding: 20px;
	list-style: none;
	display: none;
	border-radius: 5px;
	z-index: 10;

    
}
.header-nav .items .items-menu .menu:before,.header .items .items-menu .menu:before{
	position: absolute;
	content: '';
	width: 15px;
	height: 15px;
	background: black;
	top: -8px;
	left: 50px;
	transform: rotate(45deg);
}
.header-nav .items .items-menu .menu li,.header .items .items-menu .menu li{
	padding: 10px;
	width: 100%;
	position: relative;
}
.header-nav .items .items-menu .menu li a,.header .items .items-menu .menu li a{
	width: 100%;
	color: white;
}
.header-nav .items .items-menu li:hover .menu,.header .items .items-menu li.user:hover .menu{
	display: block;
}
.header-nav .items .items-menu .menu li .sub-menu {
	position: absolute;
    background: black;
    color: white;
    list-style: none;
    transition: 1s;
    display: none;
    margin-left: 20px;
    width: 400px;
}
.header-nav .items .items-menu .menu li:nth-child(1) .sub-menu{
	top: -19px;
	left: 281px;
}
.header-nav .items .items-menu .menu li:nth-child(2) .sub-menu{
	top: -63px;
	left: 281px;
}
.header-nav .items .items-menu .menu li:nth-child(3) .sub-menu{
	top: -107px;
	left: 281px;
}
.header-nav .items .items-menu .menu li:nth-child(4) .sub-menu{
	top: -151px;
	left: 281px;
}
.header-nav .items .items-menu .menu li:nth-child(5) .sub-menu{
	top: -195px;
	left: 281px;
}
.header-nav .items .items-menu .menu li:nth-child(6) .sub-menu{
	top: -239px;
	left: 281px;
}

.header-nav .items .items-menu .menu li:hover .sub-menu{
    display: block;
    margin-left: 0;
}

/*Navbar end*/

/*Home begin*/
.carousels{
	padding: 10px 20px 20px 10px;
}
.carousel-inner{
    position: relative;
}
.carousel-item img{
    height: 400px;
}
.carousel-item .carousel-caption{
	position: absolute;
	top: 120px;
	color: black;
}
.carousel-control-prev-icon{
	position: absolute;
	left: 0;
}
.carousel-control-next-icon{
	position: absolute;
	right: 0;
}
.carousel-item h1{
   
}
.annonces{
	 padding: 10px 20px 20px 0;
}
.annonces .annonce{
     width: 400px;
     height: 185px;
     position: relative;
     margin-bottom: 30px;
}
.annonces .annonce img{
	position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.annonces .annonce .annonce-content{
	position: absolute;
	color: black;
	margin: 30px;
	display: flex;
	flex-direction: column;
}
.annonces .annonce .annonce-content h5{
	text-transform: uppercase;
}

.services{
	padding: 10px;
}
.services .service{
	text-align: center;
	margin: 10px;
	padding: 10px;
	height: 140px;
	transition: 1s;
}
.services .service img{
	margin-bottom: 10px;
	width: 40px;
}
/*.services .service:hover{
	box-shadow: 1px 1px 5px orange ,
	     inset 1px 1px 5px orange;
}*/
.services .service h3{
	text-transform: capitalize;
	font-size: 20px;
	color: rgba(0, 0, 0, .8);
}
.service-hr{
	margin-top: 60px;
	color: rgba(0, 0, 0, .5);
}
.categorie-title{
	margin: 40px 0;
	text-align: center;
	text-transform: capitalize;
}
.categories{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 60px;
	
}
.categories .categorie{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    
   
}
.categories .categorie img{
    width: 180px;
	height: 120px;
    margin-bottom: 15px;
}
.categories .categorie a{
    text-decoration: none;}
.categories .categorie .categorie-name{
   font-size: 15px;
   color: rgba(0, 0, 0, .7);
}
.categories .categorie .categorie-name:hover{
   color: orange;
}
.banners{
	margin: 10px 0 40px 20px;
}
.banners .banner{
	width: 400px;
	height: 250px;
	position: relative;
	margin-bottom: 10px;
}
.banners .banner img{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}
.banners .banner .banner-content{
	position: absolute;
	top: 30px;
	right: 30px;
	width: 150px;
}
.banners .banner .banner-content h4{
	color: white;
	font-size: 20px;
	margin-bottom: 30px;
}
.banners .banner .banner-content button{
	padding: 3px 20px;
}
.banners .banner .banner-content button a{
	text-decoration: none;
	color: white;
	font-size: 15px;
	font-weight: bold;
}
.banners .banner:hover button{
	
}
.title{
	margin-left: 10px;
}
/*
.articles{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
*/

.articles .product-card {
    position: relative;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, .2);
    margin: 50px auto;
    background: white !important;
    padding: 10px;
}
.articles .product-card:hover {
	width: 400px;
	transform: scale(1.0);
}
.articles .product-tumb {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    width: 200px;
    margin: 0 auto;
    padding-top: 20px;
    position: relative;
}

.articles .product-tumb img {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
    height: 100%;
    width: 100%;
}

.articles .product-tumb img:hover {
	transform: scale(1.0);
}


.articles .product-details {
    padding: 30px;
}

.articles .product-catagory {
    display: block;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ccc;
    margin-bottom: 18px;
}

.articles .product-details h4 a {
	font-size: 20px;
    font-weight: 500;
    display: block;
    margin-bottom: 18px;
    text-transform: uppercase;
    color: #363636;
    text-decoration: none;
    transition: 0.3s;
}

.articles .product-details h4 a:hover {
    color: #fbb72c;
}

.articles .product-details p {
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 18px;
    color: #999;
}

.articles .product-bottom-details {
    overflow: hidden;
    border-top: 1px solid #eee;
    padding-top: 20px;
}

.articles .product-bottom-details div {
    float: left;
    width: 50%;
}

.articles .product-price {
    font-size: 18px;
    color: #fbb72c;
    font-weight: 600;
}

.articles .product-price small {
    font-size: 80%;
    font-weight: 400;
    text-decoration: line-through;
    display: inline-block;
    margin-right: 5px;
}

.articles .product-links {
    text-align: right;
}

.articles .product-links a {
    display: inline-block;
    margin-left: 5px;
    color: #e1e1e1;
    transition: 0.3s;
    font-size: 17px;
}

.articles .product-links a:hover {
    color: #fbb72c;
}
.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after{
	content: '';
    font-size: 30px;
    color: black;
    margin-left: 7px;
}
.testimonials{
  width: 800px;
  margin: 20px auto;
  box-shadow: 0px 0px 25px rgb(0 0 0 / 10%);
}
.testimonials .testimonial{
	margin-right: 10px;
	padding: 20px;
	width: 500px;
}
.testimonials .testimonial .testimonial-head{
	display: flex;
}
.testimonials .testimonial .testimonial-head img{
	margin-right: 20px;
}
.testimonials .testimonial .testimonial-head h3{
	font-size: 25px;
}
.testimonials .testimonial .testimonial-head h5{
	font-size: 20px;
	color: rgba(0, 0, 0, .5);
}
.testimonials .testimonial p{
	margin-top: 30px;
}
.footer{
	margin-top: 100px;
	padding: 10px 100px 10px 80px;
	background: black;
	color: white;
}
.footer .brand h1{
	color: white;
	font-size: 40px;
	text-shadow: 3px 3px 10px white;
}
.footer .brand h1 span{
	color: orange;
}
.footer .brand+p{
	color: rgba(255,255,255,.5);
	margin-left: 10px;
}
.footer{
	margin: 30px 0 0 0;
}
.footer h4{
	font-size: 18px;
	padding-top: 20px;
}
.footer .services{
	padding-top: 0;
}
.footer ul{
	list-style: none;
	padding: 0;
}
.footer ul li{
	padding-left: 5px;
}
.footer ul li a{
	text-decoration: none;
	color: rgba(255,255,255,.5);
	transition: .5s;
}
.footer ul li a:hover{
	padding-left: 10px;
	color: rgba(255,255,255,.8);
}
.footer .icons{
	margin: 20px;
}
.footer .icons{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}
.footer .icons ul{
	display: flex;
}
.footer .icons ul li i{
	font-size: 25px;
	margin-right: 15px;
	background: white;
	color: black;
	padding: 5px;
	border-radius: 50%;
}
.footer form{
	display: flex;
}
.footer form input{
    height: 40px;
    width: 300px;
    border-radius: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;

}
.footer form button{
	height: 40px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}
.footer .copyright{
	text-align: center;
	margin: 20px;
}
/* connection ///////*/
.connection {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top:60px;
}
.connection .login{
	margin-right: 20px;
	width: 600px;
}
.connection .login .title{
	text-align: center;
	color: orange;
	margin-bottom: 20px;
	text-transform: uppercase;
}
.connection .login .login-form{
	
}
.connection .divider div{
     margin: 50px 100px 20px 100px;
     width: 1px;
     height: 350px;
     border: 1px solid #ddd;
}

.connection .creer-compte{
	width: 600px;
}
.connection .creer-compte .title{
	text-align: center;
	color: orange;
	margin-bottom: 40px;
}
.connection .creer-compte p{
	color: rgba(0, 0, 0, .7);
	margin-bottom: 100px;
}
.connection button{
	width: 100%;
	margin-top: 20px;
	text-transform: uppercase;
}
.connection button.google{
	background: orange;
	color: white;
}

.connection .register{
	width: 800px;
	margin: 0 auto;
}
.connection .register .title{
	color: orange;
	margin-bottom: 20px;
}
/* connection ////////*/


/*product page */
.product{
	width:"100%";
	padding:"20px"
}
.product .product-img img{
	width: 300px;
	margin-top: 70px;
}
.product .product-info{
	margin: 15px 30px;
}
.product .product-info .product-title h2{
  font-size: 35px;  
  margin-bottom: 15px;
}
.product .product-info .product-title div{
  display: flex;
  flex-direction: row; 

}
.product .product-info .product-title div p{
  margin-right: 40px;
  font-size: 15px;
}
.product .product-info .product-title div p i{
  color: orange;
}
.product .product-info .product-title div p span{
  color: blue; 
  margin-left: 5px; 
}
.product .product-info .product-price{
	font-size: 22px;
	margin: 10px 0;
}
.product .product-info .product-status{
	display: flex;
	flex-direction: row;
}
.product .product-info .product-status p{
	margin-right: 40px;
}
.product .product-info .product-status p span{
	color: blue;
}
.product .product-info .product-status p .vendor{
	font-size: 15px;
	font-weight: 700;
}
.product .product-info .description{
	
}
.product .product-info h3{
	font-size: 23px;
	font-weight: 700;
	color: black;
	text-transform: capitalize;
}
.product .product-info ul{
	list-style: circle;
	margin-top: 10px;
	margin-bottom: 30px;
}
.product .product-info ul li{
	font-size: 16px;
	color: rgba(0, 0, 0, .7);
	font-weight: 600;
}
.product .product-info .btns{
	display: flex;
	margin-top: 30px;
	margin-bottom: 20px;
}
.product .product-info .btns div{
	margin-right: 15px;
	padding: 5px 20px;
	border: 1px solid black;
}
.product .product-info .btns div span{
	margin: 10px;
}
.product .product-info .btns button{
	margin-right: 15px;
}
.product .product-info .product-category h5{
  font-size: 18px;
  color: black;
  font-weight: bold;
}
.product .product-info .product-category h5 span{
	font-size: 16px;
	color: blue;
}
.product .shipping-info{
	background-color: #ddd;
	padding: 30px 15px;
	margin: 40px 0;
	width: 250px;
}
.product .shipping-info div{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.product .shipping-info div h5{
	font-size: 17px;
	font-weight: 400;
	color: rgba(0, 0, 0, .8);
	margin-left: 15px;
	line-height: 1.3;
}
.product .shipping-info div i{
	font-size: 18px;
	color: rgba(0, 0, 0, .5);
	margin-bottom: 20px;
}
.product .sell{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}
.product .sell p{
	font-size: 16px;
}
.product .sell p span{
	color: blue;
	margin-left: 10px;
	cursor: pointer;
}
.product nav{
	margin: 60px 0;
}
.product .product-semilaire{
	margin: 80px 0;
}
.product .product-semilaire .products{
	margin: 40px 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}
.product .product-semilaire .products .product-card {
    position: relative;
    box-shadow: 0 2px 7px #dfdfdf;
    margin: 50px auto;
    background: white !important;
    padding: 10px;
}
.product .product-semilaire .products .product-card:hover {
	width: 400px;
	transform: scale(1.0);
}
.product .product-semilaire .products .product-tumb {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    width: 200px;
    margin: 0 auto;
    padding-top: 20px;
    position: relative;
}

.product .product-semilaire .products .product-tumb img {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
    height: 100%;
    width: 100%;
}

.product .product-semilaire .products .product-details {
    padding: 30px;
}

.product .product-semilaire .products .product-catagory {
    display: block;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ccc;
    margin-bottom: 18px;
}

.product .product-semilaire .products .product-details h4 a {
	font-size: 20px;
    font-weight: 500;
    display: block;
    margin-bottom: 18px;
    text-transform: uppercase;
    color: #363636;
    text-decoration: none;
    transition: 0.3s;
}

.product .product-semilaire .products .product-details h4 a:hover {
    color: #fbb72c;
}

.product .product-semilaire .products .product-details p {
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 18px;
    color: #999;
}

.product .product-semilaire .products .product-bottom-details {
    overflow: hidden;
    border-top: 1px solid #eee;
    padding-top: 20px;
}

.product .product-semilaire .products .product-bottom-details div {
    float: left;
    width: 50%;
}

.product .product-semilaire .products .product-price {
    font-size: 18px;
    color: #fbb72c;
    font-weight: 600;
}

.product .product-semilaire .products .product-price small {
    font-size: 80%;
    font-weight: 400;
    text-decoration: line-through;
    display: inline-block;
    margin-right: 5px;
}

.product .product-semilaire .products .product-links {
    text-align: right;
}

.product .product-semilaire .products .product-links a {
    display: inline-block;
    margin-left: 5px;
    color: #e1e1e1;
    transition: 0.3s;
    font-size: 17px;
}

.product .product-semilaire .products .product-links a:hover {
    color: #fbb72c;
}
/* end product page */
/* products page */

.categorie_baner{
	margin: 20px 0;
	position: relative;
	z-index: 0;
}
.categorie_baner .image img{
	width: 100%;
	height: 200px;
}
.categorie_baner .overly{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, .8);
	z-index: 1;
}
.categorie_baner .title{
	position: absolute;
	top: 100px;
	left: 100px;
	font-size: 30px;
	 font-family: serif;
	font-weight: 400;
	color: white;
	z-index: 10;
}
.products-by-category{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.products-by-category .sidbare{
    flex: 2;
    margin: 20px 0;
    padding: 10px;
}
.products-by-category .categorie-name{
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.products-by-category .filter .filter-by{
    font-size: 15px;
    font-weight: 400;
}
.products-by-category .filter .filter-items{
    list-style: none;
}
.products-by-category .filter .filter-items .item{
    margin-bottom: 10px;
}
.products-by-category .filter .filter-items .item a{
    text-decoration: none;
    color: rgba(0, 0, 0, .6);
    font-size: 16px;
    font-weight: 500;
}
.products-by-category .products{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; 
    flex: 10; 
}
.products-by-category .products .product-card {
    position: relative;
    box-shadow: 0 2px 7px #dfdfdf;
    margin: 20px auto;
    background: white !important;
}
.products-by-category .products .product-card:hover{
	width: 400px;
	transform: scale(1.0);
}

.products-by-category .products .product-tumb {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    width: 200px;
    margin: 0 auto;
    padding-top: 20px;
    position: relative;
}

.products-by-category .products .product-tumb img {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
    height: 100%;
    width: 100%;
}

.products-by-category .products .product-details {
    padding: 30px;
}

.products-by-category .products .product-catagory {
    display: block;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ccc;
    margin-bottom: 18px;
}

.products-by-category .products .product-details h4 a {
	font-size: 20px;
    font-weight: 500;
    display: block;
    margin-bottom: 18px;
    text-transform: uppercase;
    color: #363636;
    text-decoration: none;
    transition: 0.3s;
}

.products-by-category .products .product-details h4 a:hover {
    color: #fbb72c;
}

.products-by-category .products .product-details p {
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 18px;
    color: #999;
}

.products-by-category .products .product-bottom-details {
    overflow: hidden;
    border-top: 1px solid #eee;
    padding-top: 20px;
}

.products .product-bottom-details div {
    float: left;
    width: 50%;
}

.products-by-category .products .product-price {
    font-size: 18px;
    color: #fbb72c;
    font-weight: 600;
}

.products-by-category .products .product-links {
    text-align: right;
}

.products-by-category .products .product-links a {
    display: inline-block;
    margin-left: 5px;
    color: orange !important;
    transition: 0.3s;
    font-size: 17px;
}

.products-by-category .products .product-links a:hover {
    color: orange;
}

/* end products page */

.vendor .banner{
	position: relative;
}
.vendor .banner img{
	width: 100%;
	height: 80vh;
	z-index: -1;
}
.vendor .overly{
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background: rgba(0, 0, 0, .6);
	width: 100%;
	height: 100%;
	z-index: 1;
}
.vendor .banner .banner-content{
	position: absolute;
	top: 150px;
	left: 30px;
	margin: 20px 50px;
	z-index: 10;
}
.vendor .banner .banner-content h1{
		font-size: 40px;
		color: white;
		text-align: center;
}
.vendor .banner .banner-content button{
		text-decoration: none;
		font-size: 20px;
		font-weight: bold;
		margin-left: 40%;
		margin-top: 40px;
		color: white;
}
.vendor .vendor-services{
	margin: 80px 50px;
}
.vendor .vendor-services h5{
	text-align: center;
	font-size: 15px;
	margin-bottom: 35px;
}
.vendor .vendor-services h4{
	text-align: center;
	font-size: 30px;
	font-weight: 400px;
	margin-bottom: 20px;
	color: rgba(0, 0, 0, .7);
}
.vendor .vendor-services .services{
 margin: 100px 0;
 align-items: center;
}
.vendor .vendor-services .services div{
	text-align: center;
}
.vendor .vendor-services .services div img{
	width: 130px;
	margin-bottom: 60px;
}
.vendor .vendor-services .services div h3{
	font-size: 25px;
	font-weight: 500;
	margin-bottom: 30px;
	color: black;
}
.vendor .vendor-services .services div p{
	color: rgba(0, 0, 0, .6);
}
.vendor .fonctionalité h5{
	text-align: center;
	font-size: 18px;
	margin-bottom: 35px;
}
.vendor .fonctionalité h4{
	text-align: center;
	font-size: 25px;
	margin-bottom: 20px;
	color: rgba(0, 0, 0, .7);
}
.fonctionalité-timeline{
	margin: 100px 0;
}
.circle {
  padding: 13px 20px;
  border-radius: 50%;
  background-color: orange;
  color: #fff;
  max-height: 50px;
  z-index: 2;
}

.how-it-works.row .col-2 {
  align-self: stretch;
}
.how-it-works.row .col-2::after {
  
}
.how-it-works.row .col-2.bottom::after {
  
}
.how-it-works.row .col-2.full::after {
  height: 0;
  left: calc(50% - 3px);
}
.how-it-works.row .col-2.top::after {
  height: 50%;
  left: 50%;
  top: 0;
}

.timeline h5{
	font-size: 20px;
}
.timeline div {
  padding: 0;
  height: 40px;
}
.timeline hr {
  border-top: 3px solid orange;
  margin: 0;
  top: 17px;
  position: relative;
}
.timeline .col-2 {
  display: flex;
  overflow: hidden;
}
.timeline .corner {
  border: 3px solid orange;
  width: 100%;
  position: relative;
  border-radius: 15px;
}
.timeline .top-right {
  left: 50%;
  top: -50%;
}
.timeline .left-bottom {
  left: -50%;
  top: calc(50% - 3px);
}
.timeline .top-left {
  left: -50%;
  top: -50%;
}
.timeline .right-bottom {
  left: 50%;
  top: calc(50% - 3px);
}

/* cart page */
.cart .image{
	width: 100px;
	height: 80px;
}
/* end cart page */
/* sidebare */
.sidebare{
	width: 230px;
	box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, .2);
}
.sidebare .active{
	background: black;
}
.sidebare .nav-item{
	margin-bottom: 10px;
}
.sidebare .nav-item a{
	color: black;
	text-decoration: none;
	font-size: 17px;
	font-weight: 400;
	padding: 5px 10px;
}
.sidebare .nav-item a:hover{
	background: black;
	color: white;
}
.sidebare hr{
	width: 150px;
	margin-left: 20px;

}
/* end sidebare */
/* espace client */
.espace-client{
	margin: 100px 0;
	padding: 10px 100px 10px 80px;
}
.espace-client .title{
	margin-bottom: 30px;
}
.espace-client .content{
	margin-left: 20px;
}
.espace-client .content-header div{
    display: flex;
}
.espace-client .content-header div{
    display: flex;
}
.espace-client .content-header div img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.espace-client .content-header div h5{
    margin:  20px;
    font-size: 18px;
    font-weight: 600;
}
.espace-client .content-body{
	margin-top: 30px;
}
.espace-client .content-body .statistiques{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.espace-client .content-body .statistiques div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: orange;
    width: 150px;
    padding: 10px;
    border-radius: 10px;
}
.espace-client .content-body .statistiques div h5{
    font-size: 15px;
    font-weight: 500;
    color: white;
    text-transform: capitalize;
    text-align: center;
}
.espace-client .content-body .statistiques div p{
    font-size: 18px;
    font-weight: bold;
}
.compte-client .title{
	font-size: 25px;
	font-weight: 500;
	margin-bottom: 40px;
}
.compte-client .head{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-bottom: 40px;
}
.compte-client .head img{
	height: 150px;
	width: 150px;
	margin-right: 40px;
}
.compte-client .head .name{
	font-size: 20px;
}
/* end espace client */
/* espace vendor */
.espace-vendor{
	margin: 100px 0;
	padding: 10px 100px 10px 80px;
}
.espace-vendor .content{
	margin-left: 20px;
}
.espace-vendor .title{
	margin-bottom: 30px;
}
.espace-vendor .content-header div{
    display: flex;
}
.espace-vendor .content-header div{
    display: flex;
}
.espace-vendor .content-header div img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.espace-vendor .content-header div h5{
    margin:  20px;
    font-size: 18px;
    font-weight: 600;
}
.espace-vendor .content-body{
	margin-top: 30px;
}
.espace-vendor .content-body .statistiques{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.espace-vendor .content-body .statistiques div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: orange;
    width: 150px;
    padding: 10px;
    border-radius: 10px;
}
.espace-vendor .content-body .statistiques div h5{
    font-size: 15px;
    font-weight: 500;
    color: white;
    text-transform: capitalize;
    text-align: center;
}
.espace-vendor .content-body .statistiques div p{
    font-size: 18px;
    font-weight: bold;
}
.espace-vendor .products{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;  
}
.espace-vendor .products .product-card {
    position: relative;
    box-shadow: 0 2px 7px #dfdfdf;
    margin: 30px auto;
    background: white !important;
}
.espace-vendor .products .product-card:hover{
	width: 400px;
	transform: scale(1.0);
}

.espace-vendor .products .product-tumb {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    width: 200px;
    margin: 0 auto;
    padding-top: 20px;
    position: relative;
}

.espace-vendor .products .product-tumb img {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
    height: 100%;
    width: 100%;
}

.espace-vendor .products .product-details {
    padding: 30px;
}

.espace-vendor .products .product-catagory {
    display: block;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ccc;
    margin-bottom: 18px;
}

.espace-vendor .products .product-details h4 a {
	font-size: 20px;
    font-weight: 500;
    display: block;
    margin-bottom: 18px;
    text-transform: uppercase;
    color: #363636;
    text-decoration: none;
    transition: 0.3s;
}

.espace-vendor .products .product-details h4 a:hover {
    color: #fbb72c;
}

.espace-vendor .products .product-details p {
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 18px;
    color: #999;
}

.espace-vendor .products .product-bottom-details {
    overflow: hidden;
    border-top: 1px solid #eee;
    padding-top: 20px;
}

.espace-vendor .products .product-bottom-details div {
    float: left;
    width: 50%;
}

.espace-vendor .products .product-price {
    font-size: 18px;
    color: #fbb72c;
    font-weight: 600;
}

.espace-vendor .products .product-links {
    text-align: right;
}

.espace-vendor .products .product-links a {
    display: inline-block;
    margin-left: 5px;
    color: orange !important;
    transition: 0.3s;
    font-size: 17px;
}

.espace-vendor .products .product-links a:hover {
    color: orange;
}
.espace-vendor .add-product{
	display: flex;
	justify-content: right;
}
.compte-vendor .title{
	font-size: 25px;
	font-weight: 500;
	margin-bottom: 40px;
}
.compte-vendor .head{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-bottom: 40px;
}
.compte-vendor .head img{
	height: 150px;
	width: 150px;
	margin-right: 40px;
}
.compte-vendor .head .name{
	font-size: 20px;
}
/* end espace vendor */
/* dashboard */

.dashboard{
    display: flex;
}
.sidebar{
    flex: 1;
	min-height: 100vh;
	background-color: white;
	box-shadow: 1px 1px 5px 1px rgba(0, 0, 0,.2);
}
.sidebar .top{
	height: 67px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: orange;
}
.sidebar .top .logo{
	font-size: 25px;
	font-weight: bold;
	color: black;
	text-shadow: 3px 3px 5px black;
}
.sidebar .top .logo span{
	color: white;
}
.homeContainer{
	flex: 6;
}

.sidebar .center ul{
    list-style: none;
	margin: 0;
	padding: 0;
}
.sidebar .center .title{
    font-size: 10px;
	font-weight: bold;
	color: #999;
	margin-top: 16px;
	margin-bottom: 5px;
}
.sidebar .center ul li{
    display: flex;
	align-items: center;
	padding: 5px;
	cursor: pointer;
	padding-left: 10px;
}
.sidebar .center ul li a{
    text-decoration: none;
    color: black;
}

.sidebar .center ul li:hover{
    background: black;
    color: white;
}
.sidebar .center ul li:hover span{
    background: black;
    color: white;
    padding-left: 10px;
}
.sidebar .center ul li span{
    font-size: 13px;
	font-weight: 600;
	color: rgba(0,0,0,.8);
	margin-left: 10px;
}
.sidebar .bottom{
    display: flex;
	align-items: center;
	margin: 10px;
}
.sidebar .bottom .color-option{
    width: 20px;
	height: 20px;
	border-radius: 5px;
	border: 1px solid #999;
	cursor: pointer;
	margin: 5px;
}
.sidebar .bottom .color-option:first-child{
    background-color: white;
}
.sidebar .bottom .color-option:last-child{
    background-color: dark;
}
.navbar{
	height: 67px;
	display: flex;
	align-items: center;
	font-size: 14px;
	color: #555;
	padding: 20px;
	background-color: orange;
	box-shadow:  1px 2px 2px rgba(0, 0, 0,.2);
}
.navbar .wrapper{
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: space-between;
}
.navbar .search{
	display: flex;
	align-items: center;
	border: 0.5px solid white;
	padding: 3px;
	color: black;
}
.navbar .search input{
	border: none;
	outline: none;
	padding: 5px 10px;
	background: orange;
	width: 400px;
}
.navbar .wrapper .items{
	display: flex;	
}
.navbar .wrapper .items .item{
	display: flex;
	align-items: center;
	margin-right: 20px;	
	position: relative;
	color: black;
}
.navbar .wrapper .items .item .avatar{
	width: 30px;
	height: 30px;
	border-radius: 50%;
}
.navbar .wrapper .items .admin-profile{

}
.navbar .wrapper .items .item .menu{
	background: black;
	padding: 20px;
	list-style: none;
	display: none;
	border-radius: 5px;
	z-index: 10;
	position: absolute;
	top: 40px;
	left: -50px;
	
}
.navbar .wrapper .items .item .menu:before{
	position: absolute;
	content: '';
	width: 15px;
	height: 15px;
	background: black;
	top: -8px;
	left: 60px;
	transform: rotate(45deg);
}
.navbar .wrapper .items .admin-profile:hover .menu{
	display: block;
}
.navbar .wrapper .items .admin-profile .menu li{
	margin-bottom: 10px;
	width: 100%;    
}
.navbar .wrapper .items .admin-profile .menu li a{
    text-decoration: none;
    color: white;
}

.widgets, .charts{
	display: flex;
	padding: 20px;
	gap: 20px;
}
.widgets .widget{
	display: flex;
	padding: 10px;
	flex: 1;
	justify-content: space-between;
	-webkit-box-shadow:  2px 4px 10px 1px rgba(0,0,0,.47);
	box-shadow:  2px 4px 10px 1px rgba(201,201,201,.47);
	border-radius: 10px;
	height: 100px;
}
.widgets .widget .left,.widgets .widget .right{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.widgets .widget .left .titl{
	font-weight: bold;
	font-size: 14px;
	color: gray;
	text-transform: uppercase;
}
.widgets .widget .left .counter{
	font-size: 28px;
	font-weight: 300;
	
}
.widgets .widget .left .link{
	width: max-content;
	font-size: 12px;
	border-bottom: 1px solid gray;
}
.widgets .widget .left .link a{
	text-decoration: none;
	color: black;
}
.widgets .widget .right .percentage{
	display: flex;
	align-items: center;
	font-size: 14px;
}
.widgets .widget .right .positive{
	color: green;
}
.widgets .widget .right .negative{
	color: red;
}
.widgets .widget .right .icone{
	padding: 2px;
    //background-color: orange;
	border-radius: 5px;
	align-self: flex-end;
}
.charts{
	padding: 5px 20px;
}
.charts .feature{
    flex: 2;
    -webkit-box-shadow:  2px 4px 10px 1px rgba(0,0,0,.47);
	box-shadow:  2px 4px 10px 1px rgba(201,201,201,.47);
	padding: 10px;
}
.charts .feature .top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: gray;
}
.charts .feature .top .titl{
    font-size: 16px;
    font-weight: 500;
}
.charts .bottom{
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 15px;
}
.charts .bottom .featureChart{
	width: 100px;
	height: 100px;
}
.charts .bottom .titl{
	font-weight: 500;
	color: gray;
}
.charts .bottom .amount{
	font-size: 30px;
}
.charts .bottom .desc{
	font-weight: 300;
	font-size: 12px;
	color: gray;
}
.charts .bottom .summary{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.charts .bottom .summary .item{
	text-align: center;
}
.charts .chart{
	flex: 4;
	-webkit-box-shadow:  2px 4px 10px 1px rgba(0,0,0,.47);
	box-shadow:  2px 4px 10px 1px rgba(201,201,201,.47);
	padding: 10px;
	color: gray;
}
.charts .chart .titl{
	margin-bottom: 20px;
}
.listContainer{
	-webkit-box-shadow:  2px 4px 10px 1px rgba(0,0,0,.47);
	box-shadow:  2px 4px 10px 1px rgba(201,201,201,.47);
	padding: 20px;
	margin: 20px;
}
.listContainer .listTitle{
	font-weight: 500;
	color: gray;
	margin-bottom: 15px;
}
.commandes{
    display: flex;
    width: 100%;
}
.commandeContainer.commandeContainer{
	flex: 6;
}
.commande{
    display: flex;
    width: 100%;

}
.commandeContainer{
	flex: 6;
}
.commandeContainer .titl,.commandeContainer .titl{
	font-size: 16px;
	font-weight: 500;
	margin: 20px;
}
.commandeContainer .commande_header{
	background: orange;
	color: black;
	margin: 40px;
	padding: 10px;
}
.commandeContainer .commande_header .commande_date{
	display: flex;
	flex-direction: column;
}
.commandeContainer .commande_header .commande_date .date{
	font-size: 18px;
	font-weight: 500;
}
.commandeContainer .commande_header .commande_date .commande_id{
	font-size: 16px;
	font-weight: 400;
}
.commandeContainer .commande_body{
	color: black;
	margin: 40px;
	padding: 10px;
}
.commandeContainer .commande_body .commande_info{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.commandeContainer .commande_body .commande_info .item{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 200px;
}
.commandeContainer .commande_body .commande_info .item .icon{
    color: white;
    background: orange;
    padding: 10px;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    margin-right: 20px;
}
.commandeContainer .commande_body .commande_info .item .client_info .client_name{
    font-size: 15px;
    margin-bottom: 15px;
}
.commandeContainer .commande_body .commande_item{
	margin: 40px 0;
}
.categories{
    display: flex;
    width: 100%;
}
.categoriesContainer{
	flex: 6;
}
.categories .titl{
	font-size: 16px;
	font-weight: 500;
	margin: 20px;
}
.categories .table{
    padding: 20px;
}
.categories .table .categorie_img{
	width: 50px;
	height: 50px;
}
.categories .table .btns{
	display: flex;
	justify-content: center;
	color: orange;
}
.categories .table .btn-update,.categories .table .btn-delete{
    cursor: pointer;
    margin-right: 10px;
}
.categories .add-btn{
    float: right;
    margin-right: 20px;
}
.categories .add-categorie{
    padding: 20px;
    margin-top: 20px;
}
.products{
    display: flex;
    width: 100%;
}
.productsContainer{
	flex: 6;
}
.products .titl{
	font-size: 16px;
	font-weight: 500;
	margin: 20px;
}
.products .table{
    padding: 20px;
}
.products .table .product_img{
	width: 50px;
	height: 50px;
}
.products .table .btns{
	display: flex;
	justify-content: center;
	color: orange;
}
.products .table .btn-update,.products .table .btn-delete{
    cursor: pointer;
    margin-right: 10px;
}
.clients{
    display: flex;
    width: 100%;
}
.clientsContainer{
	flex: 6;
}
.clients .titl{
	font-size: 16px;
	font-weight: 500;
	margin: 20px;
}
.clients .table{
    padding: 20px;
}
.clients .table .client_img{
	width: 50px;
	height: 50px;
}
.clients .table .btns{
	display: flex;
	justify-content: center;
	color: orange;
}
.clients .table .btn-update,.clients .table .btn-delete{
    cursor: pointer;
    margin-right: 10px;
}
.vendeurs{
    display: flex;
    width: 100%;
}
.vendeursContainer{
	flex: 6;
}
.vendeurs .titl{
	font-size: 16px;
	font-weight: 500;
	margin: 20px;
}
.vendeurs .table{
    padding: 20px;
}
.vendeurs .table .vendeur_img{
	width: 50px;
	height: 50px;
}
.vendeurs .table .btns{
	display: flex;
	justify-content: center;
	color: orange;
}
.vendeurs .table .btn-update,.vendeurs .table .btn-delete{
    cursor: pointer;
    margin-right: 10px;
}
/* end dashboard */





/*
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');
*
{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body
{
    font-family: 'Roboto', sans-serif;
}
a
{
    text-decoration: none;
}
.product-card {
    width: 380px;
    position: relative;
    box-shadow: 0 2px 7px #dfdfdf;
    margin: 50px auto;
    background: #fafafa;
}

.badge {
    position: absolute;
    left: 0;
    top: 20px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    background: red;
    color: #fff;
    padding: 3px 10px;
}

.product-tumb {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    padding: 50px;
    background: #f0f0f0;
}

.product-tumb img {
    max-width: 100%;
    max-height: 100%;
}

.product-details {
    padding: 30px;
}

.product-catagory {
    display: block;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ccc;
    margin-bottom: 18px;
}

.product-details h4 a {
    font-weight: 500;
    display: block;
    margin-bottom: 18px;
    text-transform: uppercase;
    color: #363636;
    text-decoration: none;
    transition: 0.3s;
}

.product-details h4 a:hover {
    color: #fbb72c;
}

.product-details p {
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 18px;
    color: #999;
}

.product-bottom-details {
    overflow: hidden;
    border-top: 1px solid #eee;
    padding-top: 20px;
}

.product-bottom-details div {
    float: left;
    width: 50%;
}

.product-price {
    font-size: 18px;
    color: #fbb72c;
    font-weight: 600;
}

.product-price small {
    font-size: 80%;
    font-weight: 400;
    text-decoration: line-through;
    display: inline-block;
    margin-right: 5px;
}

.product-links {
    text-align: right;
}

.product-links a {
    display: inline-block;
    margin-left: 5px;
    color: #e1e1e1;
    transition: 0.3s;
    font-size: 17px;
}

.product-links a:hover {
    color: #fbb72c;
}


.feather {
	width: 16px;
	height: 16px;
	vertical-align: text-bottom;
  }
 
  
  
  @media (max-width: 767.98px) {

  
  
  
  .navbar-brand {
	padding-top: .75rem;
	padding-bottom: .75rem;
	font-size: 1rem;
	background-color: rgba(0, 0, 0, .25);
	box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
  }
  
  .navbar .navbar-toggler {
	top: .25rem;
	right: 1rem;
  }
  
  .navbar .form-control {
	padding: .75rem 1rem;
	border-width: 0;
	border-radius: 0;
  }
  
  .form-control-dark {
	color: #fff;
	background-color: rgba(255, 255, 255, .1);
	border-color: rgba(255, 255, 255, .1);
  }
  
  .form-control-dark:focus {
	border-color: transparent;
	box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
  }
  



































@media only screen and (max-width: 1258px){
	body{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
   }
	.header{
	background: orange;
	width: 100%;
	height: 100px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	padding: 10px 100px 10px 80px;
	border-bottom: 1px solid rgba(0, 0, 0, .3);
  }
  .header .items .items-menu .user{
	margin-left: 5px;
}
  .search form{
	display: flex;
}
.search form input{
	border-top-left-radius: 8px;
	border-top-right-radius: 0;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 0;
	width: 400px;
	padding: 5px 15px;
	margin-left: 25px;
}
.search form button{
	border-radius: 0;
	text-transform: uppercase;
}
}
@media only screen and (max-width: 1248px){
	body{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
   }
	.header{
	background: orange;
	width: 100%;
  
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	padding: 10px 100px 10px 80px;
	border-bottom: 1px solid rgba(0, 0, 0, .3);
  }
  .header .items .items-menu .user{
	margin-left: 5px;
}
  .search form{
	display: flex;
}
.search form input{
	border-top-left-radius: 8px;
	border-top-right-radius: 0;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 0;
	width: 300px;
	padding: 5px 15px;
	margin-left: 25px;
}
.search form button{
	border-radius: 0;
	text-transform: uppercase;
}
}

@media only screen and (max-width: 1200px){
	.header{
		display: flex;
		flex-direction: column;
		height: 200px;

	}
  .header .items .items-menu {
	position: absolute;
	right: 0px;
	top: 0;
	display: block;
	width: 200px;
	height: 100vh;
	background: orange;
	z-index: 100;
	transform: translate(200px);
}
  .search form{
	display: flex;
	margin: 0 20px;
}
.search form input{
	border-top-left-radius: 8px;
	border-top-right-radius: 0;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 0;
	width: 300px;
	padding: 5px 15px;
	margin-left: 25px;
}
.search form button{
	border-radius: 0;
	text-transform: uppercase;
}
.header .btn-toggle{
	display: block;
}
}
@media only screen and (max-width: 870px){
  .header{
    height: 200px;
  }
  .header .items .items-menu {
	display: none;
}
  .search form{
	display: flex;
	flex-direction: row;
	justify-content: center;
	vertical-align: center;
	margin-left: 100px;
}
.search form input{
	border-top-left-radius: 8px;
	border-top-right-radius: 0;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 0;
	width: 300px;
	padding: 5px 15px;
	margin-left: 25px;
}
.search form button{
	border-radius: 0;
	text-transform: uppercase;
}
.header .btn-toggle{
	display: block;
}
}
@media only screen and (max-width: 750px){
  .header{
    height: 200px;
  }
  .header .items .items-menu {
	display: none;
}
  .search form{
	display: flex;
	flex-direction: row;
	justify-content: center;
	vertical-align: center;
	margin-left: 80px;
}
.search form input{
	border-top-left-radius: 8px;
	border-top-right-radius: 0;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 0;
	width: 300px;
	padding: 5px 15px;
	margin-left: 25px;
}
.search form button{
	border-radius: 0;
	text-transform: uppercase;
}
.header .btn-toggle{
	display: block;
}
}
@media only screen and (max-width: 700px){
  .header{
    height: 200px;
  }
  .header .items .items-menu {
	display: none;
}
  .search form{
	display: flex;
	flex-direction: row;
	justify-content: center;
	vertical-align: center;
	margin-left: 50px;
}
.search form input{
	border-top-left-radius: 8px;
	border-top-right-radius: 0;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 0;
	width: 300px;
	padding: 5px 15px;
	margin-left: 25px;
}
.search form button{
	border-radius: 0;
	text-transform: uppercase;
}
.header .btn-toggle{
	display: block;
}
}
@media only screen and (max-width: 650px){
  .header{
    height: 200px;
  }
  .header .items .items-menu {
	display: none;
}
  .search form{
	display: flex;
	flex-direction: row;
	justify-content: center;
	vertical-align: center;
	margin-left: 30px;
}
.search form input{
	border-top-left-radius: 8px;
	border-top-right-radius: 0;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 0;
	width: 300px;
	padding: 5px 15px;
	margin-left: 25px;
}
.search form button{
	border-radius: 0;
	text-transform: uppercase;
}
.header .btn-toggle{
	display: block;
}
}
@media only screen and (max-width: 600px){
  .header{
    height: 200px;
  }
  .header .items .items-menu {
	display: none;
}
  .search form{
	display: flex;
	flex-direction: row;
	justify-content: center;
	vertical-align: center;
	margin-left: -45px;
}
.search form input{
	border-top-left-radius: 8px;
	border-top-right-radius: 0;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 0;
	width: 300px;
	padding: 5px 15px;
	margin-left: 25px;
}
.search form button{
	border-radius: 0;
	text-transform: uppercase;
}
.header .btn-toggle{
	display: block;
}
}
@media only screen and (max-width: 580px){
  .header{
    height: 200px;
  }
  .header .items .items-menu {
	display: none;
}
  .search form{
	display: flex;
	flex-direction: row;
	justify-content: center;
	vertical-align: center;
	margin-left: -20pxpx;
}
.search form input{
	border-top-left-radius: 8px;
	border-top-right-radius: 0;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 0;
	width: 300px;
	padding: 5px 15px;
	margin-left: 25px;
}
.search form button{
	border-radius: 0;
	text-transform: uppercase;
}
.header .btn-toggle{
	display: block;
}
}

*/







/*Home end*/